.about-characters {
    background-color: rgba(0, 0, 0, 1.2);
    display: flex;
    justify-content: center;
}

.section-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right {
    width: 50%;
}


.bloc-left h2{
    text-align: center;
    font-size:2.7vw;
}

.bloc-right h2 {
    text-align: center;
    font-size:2.7vw;
    color: white;
}

.bloc-right p {
    font-size: 1.37vw;
    margin-top: 2em;
    width: 100%;
    font-weight: 500;
    color: white;
}

.bloc-left img {
    margin-top: 2em;
    height: 65.4vh;
}

@media screen and (max-width : 780px) {
    .about-characters {
        display: block;
    }

    .section-left {
        width: 100%;
    }

    .section-right {
        width: 100%;
    }

    .bloc-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bloc-left h2{
        font-size:1.2em;
    }
    
    .bloc-right h2 {
        font-size:1.2em;
    }

    .bloc-right p {
        text-align: left;
        width: 80%;
        font-size: 0.8em;
        margin-top: 7px;
    }

    .bloc-left img {
        height: 60vh;
        margin-top: 7px;
    }
}