.about-characters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right,
.section-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-left {
    background-color: blue;
}

.section-right {
    background-color: red;
}

.bloc {
    background-color: beige;
    margin-top: 30px;
    height: 77vh;
    width: 70%;
}

.bloc h2 {
    text-align: center;
    margin-bottom: 10px;
}

.bloc p {
    font-size: 0.9em;
    margin-top: 15px;
}

.bloc img {
    margin-left: 10px;
    margin-right: 10px;
    height: 70vh;
    width: 95%;
}

@media screen and (max-width : 768px) {
    .about-characters {
        display: block;
    }
}


@media screen and (max-width : 780px) {
    .bloc img {
    margin-left: 5px;
    margin-right: 5px;
    height: 64vh;
    width: 95%;
    }
}