header {
    height: 105vh;
    width: 100%;
    padding: 20px 50px 20px 50px;
    background: url(../header/assets/justice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    color: white;
    font-size: 40px;
    margin-left: 10px;
}

.list-items {
    display: flex;
}

.list-items li{
    margin: 30px;
}

.list-items li a {
    color: white;
}

.list-items li a:hover{
    border: 1px solid #fff;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
}
.search-input {
    display: flex;
}

.search-bar input{
    border: 1px solid #fff;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 0.9em;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

.search-bar input:hover{
    background-color: #fff;
    border-color: white;
    color: #000;
    transition: 0.8s;
}

.search-btn {
    border: 1px solid #fff;
    padding: 12px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

.search-btn:hover {
    background-color: #fff;
    border-color: white;
    color: #000;
    transition: 0.8s;
}
.errormsg{
    font-size:0.7rem;
    width: 80%;
    text-align: center;
}